.add-form {
    margin-bottom: 40px;
    
    }
    
    
    .margins-form {
        margin-top: 20px;
        margin-bottom: 100px;
      }
    
      .margins-fields {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    
      
      .margins-input {
        margin-left: 10px;
      }